{% load staticfiles %}
<html>
<head>
    <title>게시판</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body >
    <div class="header">
        <h2><a href="{% url 'blog:post_list'%}">Blog of Robos</a></h2>
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
    </div>
    <div class="clearfix">
        <nav class="column menu">
            <ul>
                <li>
                    <a href="{% url 'blog:post_list'%}">글보기</a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    <a href="{% url 'blog:post_new' %}">글추가하기</a>
                </li>
                <li>
                    <a href="{% url 'blog:post_game' %}" onload="startGame()">비행기 게임</a>
                    <!--<a href="http://localhost:63342/dj/blog/templates/blog/post_game.html?_ijt=t3v5ekm3r4mrshblj692t7br3v" onload="startGame()">게임</a>-->
                </li>
                <li>
                    <a href="{% url 'blog:post_zoom' %}">이미지줌</a>
                </li>
                <li>
                    {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                    {% endif %}
                </li>
            </ul>
        </nav>


        <at class="column content">
            {% block content %}
            {% endblock %}
        </at>
    </div>
    <div class="footer">
        <h3>
            Footer
        </h3>
    </div>
</div>

</body>
</html>